@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "../libs/fontello/fontello"

*
	box-sizing: border-box

*::-webkit-input-placeholder
	color: $black
	opacity: .6

*:focus::-webkit-input-placeholder
	opacity: 0
	transition: opacity .3s ease

*:-moz-placeholder
	color: $black
	opacity: .6

*:focus:-moz-placeholder
	opacity: 0
	transition: opacity .3s ease

*::-moz-placeholder
	color: $black
	opacity: .6

*:focus::-moz-placeholder
	opacity: 0
	transition: opacity .3s ease

*:-ms-input-placeholder
	color: $black
	opacity: .6

*:focus:-ms-input-placeholder
	opacity: 0
	transition: opacity .3s ease

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $input_color

body input:required:valid,
body textarea:required:valid
	color: $input_color

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1
	font-family: $helvetica_light
	overflow-x: hidden
	min-height: 100vh
	height: auto

h1, h2, h3, p
	padding: 0
	margin: 0

.p0
	padding: 0 !important

.m0
	margin: 0 !important

.img-responsive
	display: block
	max-width: 100%
	height: auto

.inline-right
	text-align: right

.wrapper
	padding-bottom: 260px

/*Header styles*/
.header 
	background: $white
	position: relative
	&__logo 
		line-height: 71px
	&__form
		display: inline-block
		position: relative
		font-family: Arial, sans-serif
		color: $font_color
		&-label
			font-size: .938em
			text-transform: uppercase
			line-height: 71px
			margin-right: 8px
		&-subscribe
			display: none
		&-input 
			padding-left: 35px
			width: 235px
			height: 30px
			font-size: .875em
			color: $font_color
			border: 1px solid rgb(226, 222, 222)
			background: url(../img/icon-mail.svg) 10px 7.5px no-repeat
			&:active, &:focus
				outline: 0
		&-button 
			position: absolute
			padding: 0
			height: 28px
			line-height: 27px
			width: 24px
			top: 22px
			left: 304px
			border: none
			background-color: $white
			&:active, &:focus, &:hover
				outline: 0
		&-btn 
			font-size: .813em
			color: rgb(252, 90, 73)
	&__heading
		padding-top: 55px
		color: rgba(60, 59, 59, .7)
		font-family: $helvetica_regular
		font-size: 2.688em	
		letter-spacing: 2px	
	&__link
		display: inline-block
		padding-top: 60px
		padding-bottom: 30px
		color: rgba(60, 59, 59, .7)
		font-size: 2.25em	
		letter-spacing: 2px
		&:active, &:focus, &:hover
			text-decoration: none
			color: rgb(161, 161, 161)
	&__check
		&-span
			position: relative
			top: -28px
			left: 50px
			color: rgb(153, 153, 153)
/*Enf of header styles*/

/*Main styles*/
.main
	&__illustration
		max-width: 100%
		height: 612px
		background: url("../img/main_picture.jpg") center center no-repeat
		background-size: cover
	&__background
		max-width: 100%
		height: 612px
		background-color: rgb(115, 80, 162)
/*End of main styles*/

/*Selling styles*/
.selling
	padding-top: 80px
	padding-bottom: 110px
	&__heading
		padding-bottom: 85px
		color: rgba(60, 59, 59, .7)
		font-family: $helvetica_regular
		font-size: 2.688em
		letter-spacing: 2px
	&__subheading
		padding-top: 35px
		padding-bottom: 30px
		color: rgba(60, 59, 59, .7)
		font-size: 1.563em
	&__text
		color: rgb(97, 95, 95)
		font-size: 0.875em
		line-height: 22px
	&__link
		color: rgb(234, 20, 20)
		text-decoration: underline
		&:active, &:focus, &:hover
			color: rgb(252, 90, 73)
			text-decoration: none
/*End of selling styles*/

/*Footer styles*/
.footer
	background-color: rgb(248, 248, 249)
	&__text
		padding-top: 50px
		padding-bottom: 50px
		text-align: center
		color: rgb(98, 95, 95)
		font-size: .75em
		line-height: 2



.header__registration
  background: $white
  max-width: 400px

.header__sign
  padding: 0
  margin: 0 0 40px 0

.header__sign:after
  content: ""
  display: table
  clear: both

.header__sign
  display: block
  text-decoration: none
  padding: 15px
  background: rgba(160, 179, 176, 0.25)
  color: #a0b3b0
  font-size: 20px
  float: left
  width: 50%
  text-align: center
  cursor: pointer
  -webkit-transition: .5s ease
  transition: .5s ease

.header__sign:hover
  background: #179b77
  color: #ffffff

.header__sign .active
  background: #1ab188
  color: #ffffff

.header__content > div:last-child
  display: none

.header__lab
  position: absolute
  -webkit-transform: translateY(6px)
  transform: translateY(6px)
  left: 13px
  color: rgba(255, 255, 255, 0.5)
  -webkit-transition: all 0.25s ease
  transition: all 0.25s ease
  -webkit-backface-visibility: hidden
  pointer-events: none
  font-size: 22px

.header__lab .req
  margin: 2px
  color: #1ab188

.header__lab.active
  -webkit-transform: translateY(50px)
  transform: translateY(50px)
  left: 2px
  font-size: 14px

.header__lab.active .req
  opacity: 0

.header__lab.highlight
  color: #ffffff


.header__info
	font-size: 17px
	display: block
	width: 332px
	height: 55px
	padding-top: 20px
	padding-right: 10px
	padding-left: 10px
	padding-bottom: 20px
	border: 1px solid #B1B1B1
	color: #B1B1B1
  -webkit-transition: border-color .25s ease, box-shadow .25s ease
  transition: border-color .25s ease, box-shadow .25s ease

.header__info:focus
	outline: 0
	color: #B1B1B1
  border-color: #BCBBBB

textarea 
  border: 2px solid #a0b3b0
  resize: vertical

.header__wrap
  position: relative
  margin-bottom: 40px

.header__row:after
  content: ""
  display: table
  clear: both

.header__row > div
  float: left
  width: 48%
  margin-right: 4%

.header__row > div:last-child
  margin: 0

.button 
  border: 0
  outline: none
  border-radius: 0
  padding: 15px 0
  font-size: 2rem
  font-weight: 600
  text-transform: uppercase
  letter-spacing: .1em
  background: #1ab188
  color: #ffffff
  -webkit-transition: all 0.5s ease
  transition: all 0.5s ease
  -webkit-appearance: none

.button:hover, .button:focus 
  background: #179b77

.button-block 
  display: block
  width: 100%

.forgot 
  margin-top: -20px
  text-align: right

@import "media" // Всегда в конце
